<div class="card">
  <div class="card-body">
    <h1>Admin::Dashboard#show</h1>
    <p>Find me in app/views/admin/dashboard/show.html.erb</p>
  </div>
</div>


<br>       


<div class="card">
  <div class="card-header">
    How many products are in the database:
  </div>
  <div class="card-body"> 
    <%= link_to @products, "/admin/products", :class => "btn btn-outline-success btn-lg" %>
  </div>
</div>
<br>
<div class="card">
  <div class="card-header">
    How many categories are in the database:
  </div>
  <div class="card-body"> 
    <%= link_to @categories, "/admin/products", :class => "btn btn-outline-success btn-lg" %>
  </div>
</div>