<tr>
  <td>
    <li>
      <%= category.name %>
      <td>
        <%= link_to fa_icon('trash'), [:admin, category], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
    </li>
  </td>
</tr>